@import "tailwindcss";

@theme {
    --color-bgPrimary: #020617; /*Slate-950 (background principal)*/
    --color-bgSecondary: #0F172A; /*Slate-900 (background secundário)*/
    --color-input: #45556C; /*Slate-600 (inputs e cards)*/
    --color-primary: #3730A3; /*Indigo-800 (botões principais)*/
    --color-primaryHover: #312E81; /*Indigo-900 (hover)*/
    --color-textPrimary: #FFFFFF; /*Branco (texto principal)*/
    --color-textSecondary: #CBD5E1; /*Slate-300 (texto secundario)*/
    --color-placeholder: #6A7282; /*Gray-500 (placeholder)*/
    --color-border: #1D293D; /*Slate-800 (bordas e destaques)*/
    --color-error: #EF4444; /*Red-500 (erros)*/
    --color-sucesso: #22C55E; /*Green-500 (sucesso)*/
  }

